// [------------------------------ Z-INDEX LEVELS ------------------------------]

$z-index-base: 1;
$z-index-drawers: 20;
$z-index-modals: 30;
$z-index-submenus: 40;
$z-index-toast: 50;
$z-index-alerts: 60;

:export {
  zIndexBase: 1;
  zIndexDrawers: 20;
  zIndexModals: 30;
  zIndexSubmenus: 40;
  zIndexToast: 50;
  zIndexAlerts: 60;
}

// [------------------------------ GLOBAL CLASSES, MIXINS & VARIABLES ------------------------------]

$headerHeight: 70px;

@mixin forceToCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selectable-text {
  -webkit-user-select: inherit; /* Safari */
  -moz-user-select: inherit; /* Firefox */
  -ms-user-select: inherit; /* IE10+/Edge */
  user-select: inherit; /* Standard */
  -khtml-user-select: inherit; /* Konqueror HTML */
  -webkit-touch-callout: inherit;
}

.hide-scroll {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@keyframes fade {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
