// [------------------------------ STATIC COLORS ------------------------------]

$white: #fff;
$black: #000000;
$danger: #ff0000;
$onlineGreen: #00ff00;
$borderWhite: #eaeaea;

// [------------------------------ ALPHA COLORS ------------------------------]

@function error($decimalOpacity: 1) {
  @return rgba(255, 55, 95, $decimalOpacity);
}
@function white($decimalOpacity: 1) {
  @return rgba(255, 255, 255, $decimalOpacity);
}
@function black($decimalOpacity: 1) {
  @return rgba(0, 0, 0, $decimalOpacity);
}
@function gray($decimalOpacity: 1) {
  @return rgba(23, 23, 23, $decimalOpacity);
}
