// [------------------------------ STATIC COLORS ------------------------------]

$coldGray: #fafafafa;
$absoluteBlack: #000000;
$danger: #ff0000;
$onlineGreen: #00ff00;

$yellow: #f5cb5c;
$coldGray: #cfdbd5;
$lightGray: #e8eddf;
$lightBlack: #333533;
$black: #242423;

:export {
  coldGray: $coldGray;
  absoluteBlack: $absoluteBlack;
  danger: $danger;
  onlineGreen: $onlineGreen;
  yellow: $yellow;
  coldGray: $coldGray;
  lightGray: $lightGray;
  lightBlack: $lightBlack;
}

// [------------------------------ ALPHA COLORS ------------------------------]

@function white($decimalOpacity: 1) {
  @return rgba(255, 255, 255, $decimalOpacity);
}
@function black($decimalOpacity: 1) {
  @return rgba(0, 0, 0, $decimalOpacity);
}
@function gray($decimalOpacity: 1) {
  @return rgba(23, 23, 23, $decimalOpacity);
}
