// [------------------------------ STATIC COLORS ------------------------------]

$white: #fafafafa;
$gray: #eaeaeaea;
$black: #000000;
$danger: #ff0000;
$onlineGreen: #00ff00;

$blue: #264653;
$green: #2a9d8f;
$orange: #f4a261;
$darkOrange: #e76f51;
$yellow: #e9c46a;

// [------------------------------ ALPHA COLORS ------------------------------]

@function white($decimalOpacity: 1) {
  @return rgba(255, 255, 255, $decimalOpacity);
}
@function black($decimalOpacity: 1) {
  @return rgba(0, 0, 0, $decimalOpacity);
}
@function gray($decimalOpacity: 1) {
  @return rgba(23, 23, 23, $decimalOpacity);
}
