// [------------------------------ FONTS ------------------------------]

$nunito: 'Nunito Sans', 'sans-serif';

:export {
  fontFamily: $nunito;
}

// [--------------------------- FONT WEIGHT ---------------------------]

$extraLight: 300;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;

// [----------------------------- MIXINS ------------------------------]

@mixin label {
  font-family: $nunito;
  font-weight: $medium;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
}

@mixin heading2 {
  font-family: $nunito;
  font-weight: $medium;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 40px;
}

@mixin heading3 {
  font-family: $nunito;
  font-weight: $medium;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 24px;
}
