@import '@scss/styleguide';

.nodeStatusContainer {
  display: flex;
  height: calc(100vh - $headerHeight);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
  gap: 20px;
}
