@import '@scss/styleguide';

.headerContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $borderWhite;
  padding: 20px;
}

.ipContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $borderWhite;
  border-radius: 25px;
  padding: 5px 10px;
}

.greenDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $onlineGreen;
  margin-right: 5px;
}

.poiDashboardTitle {
  @include forceToCenter;
}

.hamburgerMenu {
  cursor: pointer;
}
