@import '@scss/styleguide';

$drawerWidth: 350px;

@mixin defaultDrawerStyles {
  position: fixed;
  height: 100%;
  width: $drawerWidth;
  top: calc($headerHeight - 8px);
  z-index: $z-index-drawers;
  transition: transform 0.2s ease-in-out;
  border-width: 0px;
  border-style: solid;
  border-color: $white;
  background-color: $black;
}

.slideFromRight {
  @include defaultDrawerStyles;
  right: -$drawerWidth;
  transform: translateX(-100%);
  border-left-width: 1px;
}

.slideFromLeft {
  @include defaultDrawerStyles;
  left: -$drawerWidth;
  transform: translateX(100%);
  border-right-width: 1px;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: calc(100vh - calc($headerHeight - 8px));
  bottom: 0;
  left: 0;
  background-color: gray(0.72);
  z-index: calc($z-index-drawers - 2);
}

.hideDrawer {
  transform: translateX(0);
  transition: transform 0.2s ease-in-out;
  border-width: 0px;
}

.drawerContentContainer {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
