@import '@scss/styleguide';

.listContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: $white;
  box-shadow: $commonShadow;
  border-radius: 8px;
  padding: 20px;
}

.listLabel {
  @include heading2;
}
